@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dana";
    src: local("Dana"),
      url("/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium";
    src: local("Dana Medium"), url("/fonts/Dana/woff2/DanaFaNum-Medium.woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Bold";
    src: local("Dana Bold"), url("/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2");
    font-display: swap;
  }
}
::-webkit-progress-bar {
  background-color: #cbd5e1;
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: #f97316;
  border-radius: 100px;
}
